name: deployment
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Pull code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Run test
        run: npm run test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Pull code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Deploy
        run: Echo "Deploy"
